@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Mochiy+Pop+One&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(0, 62, 172, 1);
  color: rgba(34, 34, 34, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-header.is-open .o-header-background {
  left: 0;
}
.o-header-button-wrapper {
  margin-left: auto;
}
.o-header-icon {
  display: none;
}

.o-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-navigation-list.is-open {
  right: 0;
}
.o-header-icon-menu {
  display: block;
}

.o-header-icon-button.is-open .o-header-icon-menu {
  display: none;
}

.o-header-icon-button.is-open .o-header-icon-close {
  display: block;
}

.o-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: rgba(0, 62, 172, 1);
}

.o-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(0, 62, 172, 1);
}
.o-header.is-open .o-header-background {
  left: 0;
}
.o-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-header-icon-menu {
  display: block;
}

.o-header-icon-button.is-open .o-header-icon-menu {
  display: none;
}

.o-header-icon-button.is-open .o-header-icon-close {
  display: block;
}

.o-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 16px;
  position: relative;
}

.o-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 607px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 40px 40px;
  gap: 14px;
  background: linear-gradient(180deg, #003eac 0%, #3370dc 100%);
}

.o-navigation-list.is-open {
  right: 0;
}

.o-navigation-link {
  font-family: Lexend;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(249, 248, 255, 1);
  width: 200px;
  display: block;
  text-align: center;
  padding-top: 8px;
  padding-right: 4px;
  padding-bottom: 8px;
  padding-left: 4px;
  border-bottom-width: 2px;
  border-bottom: 2px solid transparent;
}
.o-navigation-item-desk {
  font-family: Lexend;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.o-navigation-link:hover,
.o-navigatioт-link:focus {
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 200, 33, 1);
}

.o-header.is-open {
  background-color: transparent;
}

.o-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .o-navigation-img {
    display: flex;
  }
  .o-policy-terms-header-icon-menu {
    display: none;
  }

  .o-header {
    width: 100%;
    height: 52px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .o-header-background {
  }
  .o-header-icon-button {
    display: none;
  }
  .o-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .o-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 3px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .o-navigation-link {
    text-decoration: none;
    font-family: Lexend;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 170px;
  }

  .o-navigation-item-desk {
    display: none;
  }
}
.o-home {
  width: 375px;
  height: 812px;
  padding: 88px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.o-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-home-text {
  -webkit-text-stroke: 1px rgba(0, 62, 172, 1);
  color: rgba(249, 248, 255, 1);
  font-family: Mochiy Pop One;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -3%;
  text-align: center;
}

.o-home-title {
  width: 263px;
  height: 255px;
  margin: 40px 0 211px;
}

.o-home-google-button-image {
  width: 288px;
  height: 80px;
}

.o-home-google-button-link:hover .o-home-google-button-image {
  content: url("/img/home/1.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .o-home {
    width: 1440px;
    height: 900px;
    padding: 130px 399px 0px;
    background-image: url("/img/home/1_home.png");
  }

  .o-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .o-home-title {
    width: 263px;
    height: 255px;
    margin: 16px 0 56px;
  }

  .o-home-text {
    font-family: Mochiy Pop One;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: center;
    -webkit-text-stroke: 3px rgba(0, 62, 172, 1);
  }
}
.o-why {
  width: 375px;
  margin: auto;
  padding: 50px 16px 0;
  height: 777px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/6_CTA_mob.png");
}

.o-why-text {
  font-family: Lexend;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 62, 172, 1);
  padding: 22px 0 353px;
}

@media screen and (min-width: 1200px) {
  .o-why {
    width: 1440px;
    padding: 96px 0px 0;
    height: 683px;
    background-image: url("/img/6_CTA.png");
  }
  .o-why-text {
    padding: 22px 0 254px;
  }
}

.o-uniqueness {
  width: 375px;
  margin: auto;
  padding: 40px 16px 0;
  height: 1958px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/uniqueness/8_gameAdvantages_mob.png");
}

.o-uniqueness-list {
  padding-top: 431px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-uniqueness-item {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-family: Lexend;
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  background: rgba(249, 248, 255, 1);
}
.o-uniqueness-item-two {
  margin-top: 381px;
}

@media screen and (min-width: 1200px) {
  .o-uniqueness {
    width: 1440px;
    padding: 64px 155px 0;
    height: 1182px;
    background-image: url("/img/uniqueness/8_gameAdvantages.png");
  }

  .o-uniqueness-list {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .o-uniqueness-item {
    width: 640px;
    height: 76px;
    gap: 16px;
    border-radius: 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;

    font-family: Lexend;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .o-uniqueness-item-two {
    margin-top: 8px;
  }
  .o-uniqueness-item-three {
    margin-left: 488px;
  }
}
.o-about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1043px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2_gameDescription_mob.png");
}

.o-about-title {
  -webkit-text-stroke: 3px rgba(0, 62, 172, 1);
  color: rgba(249, 248, 255, 1);
  font-family: Mochiy Pop One;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -2px;
  text-align: center;
}

.o-about-text {
  font-family: Lexend;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -3%;
  text-align: center;
  padding: 32px 0 298px;
}

.o-about-text-bold {
  font-family: Lexend;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .o-about {
    padding: 64px 195px 0;
    width: 1440px;
    height: 550px;
    background-image: url("/img/2_gameDescription.png");
  }
  .o-about-title {
    -webkit-text-stroke: 3px rgba(0, 62, 172, 1);
    font-size: 40px;
    line-height: 46px;
  }

  .o-about-text {
    font-family: Lexend;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -2px;

    padding: 40px 0 64px;
  }

  .o-about-text-bold {
    font-family: Lexend;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    width: 736px;
  }
}
.o-how {
  width: 375px;
  margin: auto;
  padding: 40px 16px 0;
  height: 1364px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/5_howToPlay_mob.png");
}

.o-how-list {
  padding-top: 504px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-how-item {
  display: flex;
  align-items: center;
  gap: 16px;
  background: rgba(0, 62, 172, 1);
  justify-content: start;
  border-radius: 16px;
  padding: 16px;
}

.o-how-text-bold {
  background: rgba(255, 200, 33, 1);
  width: 48px;
  height: 48px;
  gap: 10px;
  border-radius: 100px;
  padding: 4px;
  font-family: Lexend;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(0, 62, 172, 1);
}

.o-how-text {
  font-family: Lexend;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: rgba(249, 248, 255, 1);
  width: 247px;
}

@media screen and (min-width: 1200px) {
  .o-how {
    width: 1440px;
    padding: 64px 80px 0;
    height: 766px;
    background-image: url("/img/5_howToPlay.png");
  }
  .o-how-list {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .o-how-item {
    width: 772px;
    height: 80px;
    gap: 16px;
    border-radius: 16px;
    padding: 16px;
  }

  .o-how-text {
    font-family: Lexend;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: rgba(249, 248, 255, 1);
    width: fit-content;
  }
}

.o-reviews {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  background: rgba(249, 248, 255, 1);
}

.o-reviews-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.o-reviews-item {
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 28px;

  border-radius: 16px;
  border: 4px solid rgba(0, 62, 172, 1);
}

.o-reviews-text-bold {
  font-family: Lexend;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 8px;
}

.o-reviews-text {
  font-family: Lexend;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .o-reviews {
    width: 1440px;

    padding: 64px 97px;
  }
  .o-reviews-list {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .o-reviews-item {
    width: 230px;
    height: 190px;
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 28px;
    padding-left: 20px;
    border-radius: 16px;
  }
}

.o-faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background: rgba(249, 248, 255, 1);
}

.o-faq-container {
  padding-top: 46px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.o-faq-item {
  border-radius: 12px 12px;
  background: rgba(0, 62, 172, 1);
}

.o-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lexend;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0%;
  background: rgba(249, 248, 255, 1);

  padding: 8px 14px;
  border-radius: 12px;
  border: 4px solid rgba(0, 62, 172, 1);
}

.o-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.o-faq-answer {
  display: none;
  padding: 8px 20px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background: rgba(0, 62, 172, 1);
  color: rgba(249, 248, 255, 1);
  font-family: Lexend;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .o-faq {
    padding: 64px 189px;
    width: 1440px;
  }
  .o-faq-container {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .o-faq-item {
    border-radius: 12px;
    background: rgba(0, 62, 172, 1);
  }

  .o-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Lexend;
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
    background: rgba(249, 248, 255, 1);

    padding: 8px 20px;
    border-radius: 12px;
    border: 4px solid rgba(0, 62, 172, 1);
  }

  .o-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .o-faq-answer {
    display: none;
    padding: 8px 20px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: rgba(0, 62, 172, 1);
    color: rgba(249, 248, 255, 1);
    font-family: Lexend;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
  }
}
.o-gallery {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
  background: rgba(249, 248, 255, 1);
}

.o-gallery-list {
  width: auto;
  padding-top: 32px;
  margin: auto;
}

.o-gallery-item {
  width: 300px;
  height: 600px;
  border-radius: 16px;

  overflow: hidden;
  position: relative;
  margin: 0 6px;
}

.o-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-next {
  right: 0px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .o-gallery {
    width: 1440px;

    padding: 64px 170px;
  }

  .o-gallery-item {
    margin: 0 10px;
    width: 300px;
    height: 600px;
    border-radius: 16px;
  }

  .o-gallery-list {
    padding: 32px 0 0px;
  }
  .slick-prev:before {
    content: url("/img/gallery/arrow_left.png");
    display: flex;
    margin-left: -64px;
  }
  .slick-next {
    display: block;
  }
  .slick-next:before {
    content: url("/img/gallery/arrow_right.png");
    display: flex;
    margin-left: 20px;
  }
}

.o-features {
  width: 375px;
  margin: auto;
  padding: 40px 0px;
  background: rgba(249, 248, 255, 1);
}

.o-features-list {
  margin-top: 32px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgba(0, 62, 172, 1);
}

.o-features-item {
  gap: 8px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  padding-left: 8px;
  background: rgba(249, 248, 255, 1);
}

.o-features-text-bold {
  font-family: Lexend;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
}

.o-features-text {
  font-family: Lexend;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .o-features {
    width: 1440px;
    padding: 40px 0 64px;
  }
  .o-features-list {
    padding: 32px 80px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    column-gap: 40px;
  }

  .o-features-item {
    width: 620px;
    height: 85px;
    gap: 8px;
    padding: 16px;
    border-radius: 16px;
  }
}

.o-policy-terms-container {
  padding: 90px 16px 40px;
  width: 375px;
  background: rgba(249, 248, 255, 1);
  font-family: Lexend;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;

  margin: auto;
}

.o-policy-terms-title {
  font-family: Mochiy Pop One;
  font-weight: 900;
  font-size: 34px;
  line-height: 46px;
  letter-spacing: -1px;
  text-align: center;
  -webkit-text-stroke: 3px rgba(0, 62, 172, 1);
  color: rgba(249, 248, 255, 1);
}

.o-policy-terms-text {
  font-family: Lexend;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;

  padding-top: 20px;
}

.o-policy-terms-texts {
  padding-top: 8px;
}

.o-policy-terms-text-one {
  padding-top: 20px;
}

.o-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.o-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.o-email-link {
  color: inherit;
  text-decoration: none;
}

.o-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .o-policy-terms-container {
    padding: 104px 189px 60px;
    width: 1440px;
  }

  .o-policy-terms-title {
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -3%;
    text-align: center;
  }

  .o-policy-terms-text {
    padding-top: 40px;
  }

  .o-policy-terms-text-one {
    padding-top: 30px;
  }

  .o-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.o-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  padding: 40px 0px;
}

.o-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.o-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.o-footer-text {
  font-family: Lexend;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #ffffff;
}

.o-footer-copyright {
  font-family: Lexend;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .o-footer {
    width: 1440px;
    padding: 64px 0px;
  }

  .o-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 48px;
  }

  .o-footer-text {
    font-family: Lexend;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .o-footer-copyright {
    font-family: Lexend;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.o-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: rgba(0, 62, 172, 1);

  z-index: 1000;
  display: none;
}

.o-cookie-popup-text-two {
  font-family: Lexend;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(249, 248, 255, 1);
}

.o-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.o-cookie-button {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 200, 33, 1);
  width: 175px;
  font-family: Lexend;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(249, 248, 255, 1);
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom-width: 2px;
}

#accept-cookies {
  background: rgba(255, 200, 33, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: rgba(34, 34, 34, 1);

  border-radius: 12px;
}

.o-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .o-cookie-popup-text-two {
    font-family: Lexend;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }

  .o-cookie-button-container {
    margin: auto;
    padding-top: 32px;
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
  }

  .o-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px;
    display: none;
  }
}
